@media screen and (min-width: 750px) {

    #burger {
        display: none;
    }

    header {
        padding: 1.5rem;
    }

    header p {
        width: 100%;
    }

    nav.navigation {
        display: flex;
        justify-content: end;
        position: static;
        max-height: none;
        opacity: 1;
        overflow: visible;
        padding: 0;
        width: 100%;
        margin-top: 0;
    }

    .navigation a {
        padding: 0 20px 0 20px;
    }

.figure-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
}

    .extra-info {
        margin-bottom: 2rem;
    }
}